$primary: #270F0B !default;
$primary-light: #a1c6f6 !default;
$primary-active: #357bd3 !default;
$primary-dark: #244186 !default;
$secondary: #F25109 !default;

$dark: #3b3b3b !default;
$gray: #92929b !default;
$light-gray: #c3c3d3 !default;
$light: #fff !default;

$red: #bb1507 !default;
$dark-red: #771107 !default;

$success: #82c43c !default;
